---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="post-opening">
      {% if post-highlight %}
      <div class="post-highlight">
        {{ post.highlight }}
      </div>
      {%- endif -%}
      {% if post.featured_image %}
      <div class="featured-image">
        <img src="{{ '' | append: post.featured_image | relative_url }}"/>
      </div>
      {%- endif -%}
    </div>
    {{ content }}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const colorScheme = window.matchMedia('(prefers-color-scheme: dark)')

      const handleTheme = event => {
        const darkImages = [...document.getElementsByClassName('img-dark')]
        const lightImages = [...document.getElementsByClassName('img-light')]

        if (event.matches) {
          darkImages.map((img) => img.style.display = 'block')
          lightImages.map((img) => img.style.display = 'none')
        } else {
          darkImages.map((img) => img.style.display = 'none')
          lightImages.map((img) => img.style.display = 'block')
        }
      }

      colorScheme.addEventListener("change", event => handleTheme(event))

      handleTheme(colorScheme)
    });
  </script>

</article>
