---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.featured_image %}
    <div class="featured-image">
      <img src="{{ '' | append: page.featured_image | relative_url }}" />
    </div>
    {% endif %}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>

  <div class="comments">
    <h2>Comments</h2>
    <p>Use a GitHub account to create a comment. <a href="https://github.com/hamonangann/hamonangann.github.io/issues?q=author%3Autterances-bot+{{ page.title }}">This page</a> can be used to edit or delete comments.</p>

    <div id="comments-dark">
      <script src="https://utteranc.es/client.js"
        repo="hamonangann/hamonangann.github.io"
        issue-term="title"
        theme="github-dark"
        crossorigin="anonymous"
        async>
      </script>
    </div>
    
    <div id="comments-light">
      <script src="https://utteranc.es/client.js"
        repo="hamonangann/hamonangann.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </div>

     <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.getElementById('comments-dark').style.display = 'block'
        document.getElementById('comments-light').style.display = 'none'
      } else {
        document.getElementById('comments-dark').style.display = 'none'
        document.getElementById('comments-light').style.display = 'block'
      }
    </script>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

  </div>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
